@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

a {
	text-decoration: none;
}

h2, p {
	margin-top: 0.7em;
	margin-bottom: 0;
}

body {
    margin: 0;
    padding: 0;
}

img {
	max-width: 100%;
	height: 100%;
	border-radius: 10px;
}

input, textarea, select, .btn-excluir  {
	padding: 9px 12px;
    border: 2px solid #F1F1F1 !important; 
    outline: none !important;
    width: 100%;
    border-radius: 5px;
    transition: 0.5s;
}

input:focus {
	border: 2px solid #015FFA !important;
}

.texto-mutado {
	color: #666;
}

ul {
	list-style-type: none;
	padding: 0;
	
}

input[type="submit"], .btn, .btn-excluir, #btn-sair, .btn-arquivar, .btn-excluir2  {
	background-color: #015FFA;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: 700;
	font-size: 0.9em;
	border: 2px solid #015FFA !important;
	padding: 9px 12px;
}

input[type="submit"], .btn-excluir, .btn-arquivar, .btn-excluir2  {
	margin-top: 1em;
	text-align: center;
}

#formUser {
	display: inline-block;
}

.label {
	font-weight: 500;
	margin-top: 0.8em;
	margin-bottom: 0.3em;
	display: block;
}

.hidden {
	display: none;
}
