@charset "UTF-8";


.container-direita {
	display: flex;
	flex-direction: row;
	justify-content: end;
}

#tabelaTarefas {
	width: 100%;
	position: relative;
	padding: 1em;
	border-radius: 5px;
	margin-top: 1em;
}

#tabelaTarefas thead {
	background-color: #F0F0F0;
	padding: 1.5em;
}

#tabelaTarefas td {
	text-align: center;
	padding: 1.5em;
}