@charset "UTF-8";


.container-direita {
	display: flex;
	flex-direction: row;
	justify-content: end;
}

#tabelaTarefas {
	width: 100%;
	position: relative;
	padding: 1em;
	border-radius: 5px;
	margin-top: 1em;
}

#tabelaTarefas thead {
	background-color: #F0F0F0;
	padding: 1.5em;
}

#tabelaTarefas thead th {
	padding: 1em;
}

#tabelaTarefas td {
	text-align: center;
	padding: 1.5em;
}

#tabelaTarefas tbody tr {
	cursor: pointer;
	transition: background-color 0.3s;
}

input[id="formTarefaAtualizar:btn-excluir"], .btn-excluir {
 	background-color: #FF6347;
	color: #FFFFFF;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	border: 2px solid #FF6347 !important;
	text-align: center;
}

input[id="formTarefaAtualizar:btn-excluir"] {
	display: none;
}

table[id="formTarefa:tabelaTarefas"] tbody tr:hover {
	background-color: #F0F0F0
}
