@charset "UTF-8";


.container-direita {
	text-align: right;
}

#tabelaTarefas {
	width: 100%;
	position: relative;
	border-radius: 5px;
	margin-top: 1em;
}

#tabelaTarefas thead {
	background-color: #F0F0F0;
	padding: 1.5em;
}

#tabelaTarefas thead th {
	padding: 1em;
}

#tabelaTarefas td {
	text-align: center;
	padding: 1.5em;
}

#tabelaTarefas tbody tr {
	cursor: pointer;
	transition: background-color 0.3s;
}

input[id="formTarefaAtualizar:btn-excluir"], .btn-excluir {
 	background-color: #FF0000;
	color: #FFFFFF;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	border: 2px solid #FF0000 !important;
	text-align: center;
}

input[id="formUser:btn-sair"] {
	background-color: #FF0000 !important;
	color: #FFFFFF;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	border: 2px solid #FF0000!important;
	text-align: center;
	margin-left: 0.9em;
	width: auto;
}

input[id="formTarefaAtualizar:btn-excluir"] {
	display: none;
}

table[id="formTarefa:tabelaTarefas"] tbody tr:hover {
	background-color: #F0F0F0
}

.container-btn-acoes {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.container-btn-acoes input {
	margin-right: 5px;
	margin-top: 0;
}

#status-tarefas {
	margin-top: 1em;
}

#barra-progresso {
	background-color: #F0F0F0;
	width: 100%;
	height: 1em;
	border-radius: 5px;
	margin-top: 0.5em;
}

#progresso {
	background-color: #015FFA;
	width: 0%;
	height: 1em;
	border-radius: 5px;
	transition: width 0.5s;
}

#barra-status {
	text-align: right;
}

#letra-usuario {
	background-color: #015FFA;
	border-radius: 50%;
	padding: 0.5em 0.9em;
	margin-left: 0.9em;
	text-align: center;
    display: inline;
}

#letra {
	color: #FFFFFF;
	font-weight: bold;
}

#filtros {
	margin-top: 1em;
}

#filtro-expand {
	cursor: pointer;
}

#filtro-expand:hover {
	text-decoration: underline;
}

#filtro-expand-content {
	display: none;
	width: 100%;
	text-align: left !important;
}

.container-input-filtro {
	width: 19%;
 	display: inline-block;
 	margin: 4px;
}

.container-input-filtro:nth-child(0) {
	margin-left: 0;
}

.container-input-filtro:nth-child(4) {
	margin-right: 0;
}

.container-input-filtro .label {
	text-align: left;
}


#formFiltro input, #formFiltro select {
 	
 }
 
 #formFiltro textarea {
 	width: 100%;
 }
 
 label[for="formTarefa:tarefa-dataLimite-add"], label[for="formTarefa:tarefa-dataLimite-edit"] {
     margin-top: 0.4em;
 }
 
 .subtexto-modal {
	font-size: 0.9em;
	color: #666;
	margin-top: 0.5em;
	margin-bottom: 1.2em;
 }


    