@charset "UTF-8";

body {
	padding: 1em;
	display: flex;
	flex-direction: row;
	justify-content: start;
	height: 100vh;
}

.texto-mutado {
	margin-bottom: 2em;
}

#painel-esquerda {
	position: relative;
	max-width: 500px;
	width: 100%;
	height: 100%;	
	padding: 2em;
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
}

#painel-direita {
	position: relative;
	max-width: calc(100% - 480px);
	width: 100%;
	height: 100%;	
	padding: 1.5em;
	display: flex;
	justify-content: center;
	align-items: start;
	flex-direction: column;
	margin-left: 1.5em;
}

#logo {
	position: absolute;
	left: 0;
	top: 1em;
	left: 1.5em;
	font-weight: bold;
}

#mensagem-titulo {
	position: absolute;
	top: 100px;
	left: 100px;
	font-weight: bold;
	z-index: 5;
	font-size: 2em;
	color: #FFFFFF;
}

#mensagem-subtexto {
	position: absolute;
	top: 170px;
	left: 100px;
	z-index: 5;
	font-size: 1em;
	color: #FFFFFF;
	max-width: 400px;
}


input[type="password"] {
	margin-bottom: 1.2em;
}


input[type="submit"] {
	background-color: #015FFA;
	color: white;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	font-weight: 700;
	font-size: 0.9em;
	 border: 2px solid #015FFA !important;
	 width: 100%;
}

#linha-container {
   width: 100%; 
   text-align: center; 
   border-bottom: 1px solid #000; 
   line-height: 0.1em;
   margin-top: 1.5em;
    margin-bottom: 0.8em;
} 

#linha-container #linha-conteudo { 
    background:#fff; 
    padding:0 10px; 
}

#formLogin ul {
	margin-top: 1.5em;
	color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 5px;
}

#formRedirect {
	width: 100%;
}

a[id="formRedirect:copyright"], #copyright{
	position: absolute;
	bottom: 0;
	left: 0;
	padding: 1em;
	font-size: 0.75em;
	color: #666;
	width: 100%;
	text-align: center;
	text-decoration: none;
}

