@charset "UTF-8";

#container {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#content {
	width: 100%;
	max-width: 1250px;
	position: relative;
	right: 0;
	min-height: 100vh;
	
	padding: 1.5em;
	padding-top: 0.5em;
}

.card {
	background-color: #FFFFFF;
	border-radius: 5px;
	padding: 1em;
	box-shadow: 0 3px 7px 0 rgba(0, 0, 0, .13), 0 1px 2px 0 rgba(0, 0, 0, .11);
	margin-top: 1em;
	position: relative;
}

.titulo-card {
	background-color: #015FFA;
	color: #FFFFFF;
	position: absolute;
	top: 0;
	left: 1em;
	padding: 0.5em 1em;
	border-radius: 0 0 5px 5px;
}

.mensagensErro {
	margin-top: 7px;
	color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    padding: 0.75rem 1.25rem;
    border: 1px solid transparent;
    border-radius: 5px;
    display: block;
}

